# Covers JetBrains IDEs: IntelliJ
*.iml

## Directory-based project format:
.idea/
.*
!.gitignore

!lib/*.jar

# Java
/target/

# Package Files #
*.jar

# Java classes
*.class


# virtual machine (JVM) crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


